<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Add a new post</h1>
      <%= form_tag '/create_post' do %>
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" placeholder="title" name="title">
        </div>
        <div class="form-group">
          <label for="image_url">Image URL:</label>
          <input type="text" class="form-control" id="image_url" placeholder="Image URL" name="image_url">
        </div>
        <div class="form-group">
          <label for="contents">Contents:</label>
          <textarea class="form-control" name="contents" id="contents" placeholder="Contents..." cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      <% end %>
    </div>
  </div>
</div>
